<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Spring Boot</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <h1 class="display-4 my-3">Hello, {{ user.getUsername }}</h1>
                    <a href="/logout" class="btn btn-primary">Logout</a>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab">Profile</a>
                    </li>
                    {% if (user.hasRole("staff")) %}
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab">Contact</a>
                    </li>
                    {% endif %}
                    {% if (user.hasRole("admin")) %}
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#other" role="tab">Other</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active p-4" id="home" role="tabpanel">
                        <h2>Home</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus, turpis vitae feugiat rhoncus,
                        mauris lorem malesuada tortor, nec venenatis lacus enim non risus. Suspendisse euismod ex vel efficitur vehicula.
                        Nam eu mauris eget augue bibendum posuere et ut massa. Duis mattis, justo a ornare ultrices,
                        neque massa consequat risus, vitae efficitur lorem mi ut velit. Vivamus aliquam urna id lectus fermentum auctor.
                        Curabitur eu ex lacus. Vivamus ac malesuada odio. Sed volutpat eros vel congue rutrum. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. In hendrerit, lacus a viverra efficitur, purus dui facilisis dolor, eget consectetur orci mauris in nisi.
                        Mauris ac lacus volutpat, lacinia lacus nec, porttitor sapien. Pellentesque placerat diam congue arcu accumsan,
                        non ultricies metus facilisis. Nunc neque felis, efficitur in porttitor a, luctus ac risus.</p>

                        <p>Nunc sagittis magna augue, ac venenatis massa tristique et. Cras venenatis lacinia sapien quis varius.
                        Mauris a varius ex, sit amet tristique felis. Donec placerat nisi iaculis finibus fringilla.
                        Nullam varius ultrices leo id congue. Proin tristique eros a justo posuere, tristique interdum dui maximus.
                        Cras vitae ornare nisl, et auctor dolor. Pellentesque vestibulum mauris vitae elementum elementum.
                        In at risus ac lacus venenatis sagittis congue sed quam. Aliquam urna sem, rutrum non elit eu, cursus viverra arcu.
                        Duis consequat interdum ultricies. Vestibulum eget dictum ipsum. Aliquam lacus risus, malesuada a fringilla sed, ullamcorper sed purus.
                        Morbi ac vehicula metus, nec convallis tellus. Ut nec sodales elit. Donec sodales lorem at pellentesque vehicula.</p>
                    </div>
                    <div class="tab-pane fade p-4" id="profile" role="tabpanel">
                        <h2>Profile</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus, turpis vitae feugiat rhoncus,
                        mauris lorem malesuada tortor, nec venenatis lacus enim non risus. Suspendisse euismod ex vel efficitur vehicula.
                        Nam eu mauris eget augue bibendum posuere et ut massa. Duis mattis, justo a ornare ultrices,
                        neque massa consequat risus, vitae efficitur lorem mi ut velit. Vivamus aliquam urna id lectus fermentum auctor.
                        Curabitur eu ex lacus. Vivamus ac malesuada odio. Sed volutpat eros vel congue rutrum. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. In hendrerit, lacus a viverra efficitur, purus dui facilisis dolor, eget consectetur orci mauris in nisi.
                        Mauris ac lacus volutpat, lacinia lacus nec, porttitor sapien. Pellentesque placerat diam congue arcu accumsan,
                        non ultricies metus facilisis. Nunc neque felis, efficitur in porttitor a, luctus ac risus.</p>

                        <p>Nunc sagittis magna augue, ac venenatis massa tristique et. Cras venenatis lacinia sapien quis varius.
                        Mauris a varius ex, sit amet tristique felis. Donec placerat nisi iaculis finibus fringilla.
                        Nullam varius ultrices leo id congue. Proin tristique eros a justo posuere, tristique interdum dui maximus.
                        Cras vitae ornare nisl, et auctor dolor. Pellentesque vestibulum mauris vitae elementum elementum.
                        In at risus ac lacus venenatis sagittis congue sed quam. Aliquam urna sem, rutrum non elit eu, cursus viverra arcu.
                        Duis consequat interdum ultricies. Vestibulum eget dictum ipsum. Aliquam lacus risus, malesuada a fringilla sed, ullamcorper sed purus.
                        Morbi ac vehicula metus, nec convallis tellus. Ut nec sodales elit. Donec sodales lorem at pellentesque vehicula.</p>
                    </div>
                    {% if (user.hasRole("staff")) %}
                    <div class="tab-pane fade p-4" id="contact" role="tabpanel">
                        <h2>Contact</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus, turpis vitae feugiat rhoncus,
                        mauris lorem malesuada tortor, nec venenatis lacus enim non risus. Suspendisse euismod ex vel efficitur vehicula.
                        Nam eu mauris eget augue bibendum posuere et ut massa. Duis mattis, justo a ornare ultrices,
                        neque massa consequat risus, vitae efficitur lorem mi ut velit. Vivamus aliquam urna id lectus fermentum auctor.
                        Curabitur eu ex lacus. Vivamus ac malesuada odio. Sed volutpat eros vel congue rutrum. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. In hendrerit, lacus a viverra efficitur, purus dui facilisis dolor, eget consectetur orci mauris in nisi.
                        Mauris ac lacus volutpat, lacinia lacus nec, porttitor sapien. Pellentesque placerat diam congue arcu accumsan,
                        non ultricies metus facilisis. Nunc neque felis, efficitur in porttitor a, luctus ac risus.</p>

                        <p>Nunc sagittis magna augue, ac venenatis massa tristique et. Cras venenatis lacinia sapien quis varius.
                        Mauris a varius ex, sit amet tristique felis. Donec placerat nisi iaculis finibus fringilla.
                        Nullam varius ultrices leo id congue. Proin tristique eros a justo posuere, tristique interdum dui maximus.
                        Cras vitae ornare nisl, et auctor dolor. Pellentesque vestibulum mauris vitae elementum elementum.
                        In at risus ac lacus venenatis sagittis congue sed quam. Aliquam urna sem, rutrum non elit eu, cursus viverra arcu.
                        Duis consequat interdum ultricies. Vestibulum eget dictum ipsum. Aliquam lacus risus, malesuada a fringilla sed, ullamcorper sed purus.
                        Morbi ac vehicula metus, nec convallis tellus. Ut nec sodales elit. Donec sodales lorem at pellentesque vehicula.</p>
                    </div>
                    {% endif %}
                    {% if (user.hasRole("admin")) %}
                    <div class="tab-pane fade p-4" id="other" role="tabpanel">
                        <h2>Other</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus, turpis vitae feugiat rhoncus,
                        mauris lorem malesuada tortor, nec venenatis lacus enim non risus. Suspendisse euismod ex vel efficitur vehicula.
                        Nam eu mauris eget augue bibendum posuere et ut massa. Duis mattis, justo a ornare ultrices,
                        neque massa consequat risus, vitae efficitur lorem mi ut velit. Vivamus aliquam urna id lectus fermentum auctor.
                        Curabitur eu ex lacus. Vivamus ac malesuada odio. Sed volutpat eros vel congue rutrum. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. In hendrerit, lacus a viverra efficitur, purus dui facilisis dolor, eget consectetur orci mauris in nisi.
                        Mauris ac lacus volutpat, lacinia lacus nec, porttitor sapien. Pellentesque placerat diam congue arcu accumsan,
                        non ultricies metus facilisis. Nunc neque felis, efficitur in porttitor a, luctus ac risus.</p>

                        <p>Nunc sagittis magna augue, ac venenatis massa tristique et. Cras venenatis lacinia sapien quis varius.
                        Mauris a varius ex, sit amet tristique felis. Donec placerat nisi iaculis finibus fringilla.
                        Nullam varius ultrices leo id congue. Proin tristique eros a justo posuere, tristique interdum dui maximus.
                        Cras vitae ornare nisl, et auctor dolor. Pellentesque vestibulum mauris vitae elementum elementum.
                        In at risus ac lacus venenatis sagittis congue sed quam. Aliquam urna sem, rutrum non elit eu, cursus viverra arcu.
                        Duis consequat interdum ultricies. Vestibulum eget dictum ipsum. Aliquam lacus risus, malesuada a fringilla sed, ullamcorper sed purus.
                        Morbi ac vehicula metus, nec convallis tellus. Ut nec sodales elit. Donec sodales lorem at pellentesque vehicula.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
